@using Microsoft.AspNetCore.Identity
@using ClientApp.Areas.Identity.Data

@inject SignInManager<ClientAppUser> SignInManager
@inject UserManager<ClientAppUser> UserManager

@{
    ViewData["Title"] = "Map";
    Layout = "/Views/Shared/_LayoutMap.cshtml";
}

<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">DAT | One Million Farmers Platform</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>    
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Account/login",new { logoutId = 1})" >
                    <span class="navbar-text">
                       <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)!</a> 
                    </span>
                   
                    <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit">LogOut</button>
                </form>
            }
        </div>
    </nav>
</header>
<hr>
<div id="main" class="row">
    
    <div class="col-4" style="padding-right: 0.7rem !important;padding-left: 7px !important;">
        <div class="row">
            <div class="col-6" style="padding-left:5px !important;padding-right:5px;margin-left:5px;">
                <div class="card" style="width:auto;height:85vh; padding-bottom:8px">
                    <h6>Data Summary</h6>
                    <hr>
                    <div class="card-body">

                        <div class="table table-hover dc-data-table dc-chart" style="overflow:hidden">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6" style="max-width: 48.5% !important;">
                <div class="row">
                    <div class="card" style="width: 14.9rem; margin-bottom: 0.5rem;">
                        <h6>Breed | Variety</h6>
                        <hr>
                        <div class="card-body">
                            <div class="pie">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card" style="width: 14.9rem; margin-bottom: 0.21rem;">
                        <h6>Volumes( Counts | Kgs * 1000)</h6>
                        <hr>
                        <div class="card-body">
                            <div class="revrowChart"></div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="card" style="width: 14.9rem;">
                        <h6>Projects</h6>
                        <hr>
                        <div class="card-body">
                            <div class="qtyChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2" style="padding-left: 5px !important; padding-right:5px;">
        <div class="card" style="width: auto;height: 85vh;">
            <h6>Farm Products ( Counts| Qty in Kg)</h6>
            <hr>
            <div class="card-body">
                <div class="rowChart">
                    @* <div class="reset" style="visibility: hidden;">
                range: <span class="filter"></span>
                <a href="javascript:spendHistChart.filterAll();dc.redrawAll();">reset</a>
            </div> *@
                </div>
                <div id="spinx" class="lv-bars lv-mid lg" data-label="Loading..."></div>
                @* <a href="javascript:dc.filterAll(); dc.renderAll();" class="btn btn-primary">Reset</a> *@
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <div class="card" style="width: 42.2rem;height: 68.5vh">
                <h6>Map View</h6>
                <hr>
                <div class="card-body">
                    <div class="map"></div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 0.1rem;">
            <div class="card" style="width: 22rem;height: 16.5vh">
                <div class="card-body">
                    <h6>Total Records</h6>
                    <hr>
                    <div class='dc-data-count'>
                        <span class='filter-count'></span>
                        Selected out of <span class='total-count'></span> Records
                    </div>

                </div>
            </div>
            <div class="card" style="width: 20rem;height: 16.5vh;margin-left:0.2rem;margin-bottom:0.28rem;">
                <div class="card-body">
                    <h6>Download Data</h6>
                    <hr>
                    <div id="download-type" style="display: flex !important; padding-top: 15px; align-items: center; justify-content: space-around;">
                        <div><label><input type=radio name="operation" value="raw" checked="true">&nbsp;All data</label></div>
                        <div><label><input type=radio name="operation" value="table">&nbsp;table data</label></div>
                        <div<button class="btn btn-sm btn-outline-primary my-2 my-sm-0" id="download">Download</button></div>
                        @*<button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit">LogOut</button>*@
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>
<hr />
<footer style="background-color: #402621">
    <div class="container" style="text-align: center; color: wheat; height: 40px; padding-top: 2px;font-size:0.85rem;">
        <span class="text-footer"> &copy;2020 | County Goverment of Kiambu All Rights Reserved. </span>
    </div>
</footer>