@{
    ViewData["Title"] = "Map";
    Layout = "/Views/Shared/_Layouttest.cshtml";
}

<div id="main" class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-7">
                <div class="card" style="width:20rem ; height:35vh;">
                   <h5>Data Table</h5>
                    <hr />
                    <div class="card-body">
                        <div class="table table-hover dc-data-table dc-chart" style="overflow:auto">

                        </div>
                     
                    </div>
                </div>
            </div>
             <div class="col-5">
                <div class="card" style="width:15rem ; height:35vh;">
                   <h5>Data Table</h5>
                    <hr />
                    <div class="card-body">
                        <div class="" style="overflow:auto">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card" style="width:25rem;">
                   <h5>Main Agricultural Activities</h5>
                    <div class="card-body">
                        <div class="mainBarChart">

                        </div>
                       <a href="javascript:dc.filterAll(); dc.renderAll();" class="btn btn-primary">Reset</a>
                    </div>
                </div>
                
            </div>
            <div class="col">
                <div class="row">

                    <div class="col-12">
                        <div class="card" style="width: 25rem;">
                            <h5>Quantity</h5>
                            <hr />
                            <div class="card-body">
                                <div class="pie">
                                </div>
                                <a href="javascript:dc.filterAll(); dc.renderAll();" class="btn btn-primary">Reset</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="width: 25rem;">
                           <h5>Revenue</h5>
                            <hr />
                           <div class="card-body">
                               <div class="revenuePie">

                               </div>
                               <a href="javascript:dc.filterAll(); dc.renderAll();" class="btn btn-primary">Reset</a>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 15rem;heigh:60vh;">
                    <h5>Farm Produce</h5>
                    <hr />
                    <div class="card-body">
                        <div class="rowChart">

                        </div>
                        <a href="javascript:dc.filterAll(); dc.renderAll();" class="btn btn-primary">Reset</a>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <div class="card"  style="width:45rem">
                    <h5>Map View</h5>
                    <hr />
                    <div class="card-body">
                        <div class="map"></div>
                         
                        <a href="javascript:dc.filterAll(); dc.renderAll();" class="btn btn-primary">Reset</a>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 20rem;">
                <h5>Total Farmers</h5>
                <hr />
                <div class="card-body">
                    <div class='dc-data-count'>
                        <span class='filter-count'></span>
                                selected out of <span class='total-count'></span> records.
                    </div>
            </div>
            </div>
        </div>
    </div>

</div>

