@{
    ViewData["Title"] = "Map";
    Layout = "/Views/Shared/_LayoutMap.cshtml";
}

<div id="main" class="row">
    <div class="col-5" style="padding-right: 0.7rem !important;">
        <div class="row">
            <div class="col-7">
                <div class="card" style="width: 22rem;height:87vh">
                    <h6>Data Summary</h6>
                    <hr>
                    <div class="card-body">

                        <div class="table table-hover dc-data-table dc-chart" style="overflow:auto">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="card" style="width: 18rem; margin-bottom: 0.3rem;">
                        <h6>Main Agri Activities</h6>
                        <hr>
                        <div class="card-body">
                            <div class="pie">
                                </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card" style="width: 18rem; margin-bottom: 0.3rem;">
                        <h6>Revenue</h6>
                        <hr>
                        <div class="card-body">
                            <div class="revrowChart"></div>
                        
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <h6>Quantity</h6>
                        <hr>
                        <div class="card-body">
                            <div class="qtyChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card" style="width: 14.5rem;height: 87vh;">
            <h6>Farm Products</h6>
            <hr>
            <div class="card-body">
                <div id="spinner" class="rowChart">
                    <div class="reset" style="visibility: hidden;">range: <span class="filter"></span>
                    <a href="javascript:spendHistChart.filterAll();dc.redrawAll();">reset</a>
                    </div>    
                </div>
                @* <a href="javascript:dc.filterAll(); dc.renderAll();" class="btn btn-primary">Reset</a> *@
            </div>
        </div>
    </div>

    <div class="col-5">
        <div class="row">
            <div class="card" style="width: 38.7rem;height: 70vh">
                <h6>Map View</h6>
                <hr>
                <div class="card-body">
                    <div class="map"></div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 0.1rem;">
            <div class="card" style="width: 16rem;height: 16.5vh">
                <div class="card-body">
                    <h6>Total Records</h6>
                    <hr>
                    <div class='dc-data-count'>
                        <span class='filter-count'></span>
                        selected out of <span class='total-count'></span> records.
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>