
@{
    ViewData["Title"] = "AdminPanel";
}

<div class="side_nav">
    <div class="container-fluid">
        <div class="adminlogo">
            <img class="center" src="~/Assets/logo.svg" width="100px" height="100px">
            <h5>NARIGP | Kiambu County</h5>
            <p style="text-align: center;color: white">Admin Portal</p>
            <hr / style="border-color:white">
        </div>
        <div class="navigation">
            <a asp-area="" asp-controller="Home" asp-action="Index"><input class="btn"><span><img src="~/Assets/icon.svg" class="icon">Data Analytics</span></a>
            <button class="btn"><span><img src="~/Assets/icon.svg" class="icon"> Manage Users</span></button>
            <button class="btn"><span><img src="~/Assets/logo.svg" class="icon"> Navigation</span></button>
            <button class="btn"><span><img src="~/Assets/logo.svg" class="icon"> Navigation</span></button>
            <button class="btn"><span><img src="~/Assets/logo.svg" class="icon"> Navigation</span></button>
            <button class="btn"><span><img src="~/Assets/logo.svg" class="icon"> Navigation</span></button>
            <button class="btn"><span><img src="~/Assets/logout.svg" class="icon"> Logout</span></button>
            
        </div>
    </div>
</div>
<!--main dashboard-->
<div class="main">

    <div class="top">
        <div class="container-fluid">
            <p style="color: white; text-align:center;padding-top:1rem">Welcome to NARIGP Admin Portal</p>
            <!--card -->
            <div class="c_card" style="left:0%">
            </div>
            <!--card -->
            <div class="c_card" style="left:25%">
            </div>
            <!--card -->
            <div class="c_card" style="left:50%">
            </div>
            <!--card -->
            <div class="c_card" style="left:75%">
            </div>
        </div>

    </div>
    <div class="middle">
        <div class="container-fluid">

            <!--card -->
            <div class="m_card" style="left:0%;width: 62.5%">
    
            </div>
            <!--Div -->
            <div class="s_card" style="left:67.5%;width: 30%">
                <!--card -->
                <div class="i_card" style="left:0%;top:0%;margin-right: 2.5%;margin-bottom: 2.5%">
                </div>
                <!--card -->
                <div class="i_card" style="left:50%;top:0%;margin-left: 2.5%;margin-bottom: 2.5%">
                </div>
                <!--card -->
                <div class="i_card" style="left:0%;top:50%;margin-right: 2.5%;margin-top: 2.5%">
                </div>
                <!--card -->
                <div class="i_card" style="left:50%;top:50%;margin-left: 2.5%;margin-top: 2.5%">
                </div>
            </div>

        </div>

    </div>
</div>

