@{
    ViewData["Title"] = "Home Page";
}
<div class="mapwindow">

    <div class="top">
        <div class="container-fluid">
            <p style="color: white; text-align:center;padding-top:1rem">Welcome to NARIGP Admin Portal</p>
            <!--card -->
            <div class="c_card" style="left:0%">
               <div id="test1">

               </div>
            </div>
            <!--card -->
            <div class="c_card" style="left:25%">
                <div id="test2">

                </div>
            </div>
            <!--card -->
            <div class="c_card" style="left:50%">
            </div>
            <!--card -->
            <div class="c_card" style="left:75%">
            </div>
        </div>

    </div>
    <div class="middle">
        <div class="container-fluid">

            <!--card -->
            <div id ="mcard" class="m_card" style="left:0%;width: 45%">
                <div id="map"></div>
            </div>
            <!--Div -->
            <div class="s_card" style="left:52.5%;width: 45%">
                <!--card -->
                <div class="i_card" style="left:0%;top:0%;margin-right: 2.5%;margin-bottom: 2.5%">
                </div>
                <!--card -->
                <div class="i_card" style="left:50%;top:0%;margin-left: 2.5%;margin-bottom: 2.5%">
                </div>
                <!--card -->
                <div class="i_card" style="left:0%;top:50%;margin-right: 2.5%;margin-top: 2.5%">
                </div>
                <!--card -->
                <div class="i_card" style="left:50%;top:50%;margin-left: 2.5%;margin-top: 2.5%">
                </div>
            </div>

        </div>

    </div>
</div>
