<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Data Analytics</title>

    <meta itemprop="name" content="DC.js + Leaflet" />
    <meta itemprop="description" content="DC.js + Leaflet chart" />

    <meta charset="UTF-8">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/cssx/leaflet.css" rel="stylesheet" />
    <link type="text/css" href="~/cssx/MarkerCluster.Default.css" rel="stylesheet" />
    <link type="text/css" href="~/cssx/MarkerCluster.css" rel="stylesheet" />
    <link type="text/css" href="~/cssx/dc.css" rel="stylesheet" />
    <link type="text/css" href="~/cssx/leaflet-legend.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="~/cssx/spiner.css" rel="stylesheet" />
    <link href="~/cssx/site.css" rel="stylesheet" />
    
    <link href="~/cssx/main.css" type="text/css" rel="stylesheet"/>
    
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/jsx/d3.js"></script>
    <script type="text/javascript" src="~/jsx/crossfilter.js"></script>
    <script type="text/javascript" src="~/jsx/dc.js"></script>
    <script type="text/javascript" src="~/jsx/leaflet.js"></script>
    <script src="~/jsx/colorbrewer.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
   
    <!--Optional-->

    <script type="text/javascript" src="~/jsx/leaflet.markercluster.js"></script>

    <script type="text/javascript" src="~/jsx/dc.leaflet.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
    
     <script src="~/jsx/main.js" type="text/javascript"></script>
    <script src="~/jsx/dashboard.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
