body {
  overflow: hidden;
  color: white !important;
}
.h5 {
  text-align: center;
}
.map {
  width: 100% !important;
  height: 100% !important;
}
.pie {
  padding-left: 37px;
}
.pos{

}

.numbers {
  
    width: 150px;
    font-size: 35px;
    text-align: center;
    
    padding-bottom: 5px;
    height: 50px;
    line-height: normal;
}

.rowChart {
}
.cigs{

}
.mainBarChart {
}
.qtyChart {
    padding-left: 37px;
}
.revrowChart {
}
/* overide the default boostrap */
.nav {
  padding-bottom: 2px;
}
.navbar {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.bg-light {
    background-color: #093521 !important;
    height: 55px;
}
.navbar-light .navbar-brand {
  color: white !important;
}
.text-dark {
  color: white !important;
}
.btn-outline-primary {
    color: white !important;
    border-color: #007bff;
}
.card-body {
  height: 23vh;
  padding: 0.4rem !important;
}
.card {
  background-color: transparent;
  /* background-clip: border-box; */
  border: 1px solid rgb(21 123 255);
}
.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
 }
#main {
    padding-top: 5px;
    margin-left: 0.01px;
    width: 100%;
    background-color: #093521;
}

h6 {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  color: white;
}

hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
  box-shadow: 0.5rem;
  border-top: 1px solid rgb(245 222 179);
}
.table td,
.table th {
  padding: 0.4rem !important;
  font-family: monospace !important;
  color: wheat;
}
.col {
  padding-right: 0.7rem !important;
}
/*Popup*/
.map-popup span.heading {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}

.map-popup span.attribute {
  display: block;
}

.map-popup span.label {
  font-weight: bold;
}
.svg {
  color: black !important;
}
.leaflet-popup-content {
  margin: 13px 15px;
  line-height: 1.7;
}
.text-footer {
    color: #f5deb3 !important;
    font-size:0.8rem;
}
.datacontent {
    display: flex !important;
    padding-top: 15px;
    align-items: center;
    justify-content: space-around;
}
.dc-chart select {
    width: 125px !important;
    display: block;
    /* width: 100%;*/
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5;
    color: #f5deb3;
    background-color:transparent;
    background-clip: padding-box;
    border: 1px solid #017bff;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
option {
    /* margin: 40px;*/
    background: #402621;
    color: #f5deb3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
#datadowmload {
   
}
