.h5 {
  text-align: center;
}
.map {
  width: 30rem;
  height: 60vh;
}

.pie {
  margin-left: 1px;
}

.rowChart {
  padding-right: 35px;
}
.mainBarChart {
  height: fit-content;
}


.nav {
  padding-bottom: 5px;
}
.card {
  margin: 1rem !important;
}
.card-body {
    height: 30vh;
    padding: 0.4rem !important;
}

#main {
    margin: 0.5rem;
    width: 100%;
}

h6 {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    box-shadow: 0.5rem;
}