body {
  overflow: hidden;
}
.h5 {
  text-align: center;
}
.map {
  width: 100%;
  height: 100%;
}
.pie {
  padding-left: 38px;
}

.rowChart {
}
.mainBarChart {
}
.qtyChart {
}
.revrowChart {
}
.nav {
  padding-bottom: 2px;
}

.card-body {
  height: 23.7vh;
  padding: 0.4rem !important;
}

#main {
  margin: 0.5rem;
  width: 100%;
}

h6 {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
  box-shadow: 0.5rem;
}
.table td,
.table th {
  padding: 0.4rem !important;
  font-family: monospace !important;
}
.col {
  padding-right: 0.7rem !important;
}
/*Popup*/
.map-popup span.heading {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}

.map-popup span.attribute {
  display: block;
}

.map-popup span.label {
  font-weight: bold;
}
