@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <nav>
        <div class="nav-bar">
            <div>
                <h4>National </h4>
            </div>
            <div></div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div id="rowChart"></div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6"> <h5>bar chat</h5></div>
            </div>
            <div class="row">
                <div class="col-md-6"><h5>row chart</h5></div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="map" class="card">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>table chart here</h3>
        </div>
    </div>
</div>