
@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>chart here</h3>
            </div>
            <div class="col-md-6">
                <div id="map" class="card">
                    <h3>map here</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>table chart here</h3>
            </div>
        </div>
    </div>