#holder {
    width: 850px;
    margin: 20px auto;
}

#holder > div {
    padding: 30px 0;
    clear: both;
}

.map {
    width: 600px;
    height: 400px;
}

.pie {
    margin-left: 30px;
}

#octocat {
    position: absolute;
    right: 5px;
    top: 5px;
}
/*map legend styling*/
/*--*/
