<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Core</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/leaflet.css" rel="stylesheet" />
    <link href="~/css/dc.css" rel="stylesheet" />
    <link href="~/css/clusterpies.css" rel="stylesheet" />
    <link href="~/css/MarkerCluster.css" rel="stylesheet" />
  

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/leaflet.js"></script>

    <script src="~/lib/d3.js"></script>
    <script src="~/lib/crossfilter.js"></script>
    <script src="~/lib/dc.js"></script>

</head>
<body>
    @RenderBody()
    <script src="~/js/map.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
